Se importan las librerías necesarias para el trabajo.

In [1]:
import pandas as pd
import datetime as dt

Se cargan diferentes archivos que contienen información sobre lo que pide la empresa, lo cual luego que se realice 
el análisis exploratorio de los datos se estudiará qué es lo que voy a necesitar, es decir qué datos son más relevantes.

In [2]:
df1 = pd.read_csv("../datasets/AccesosaInternetfijoportecnologiaylocalidad_2791751672768703134.csv")
df2 = pd.read_csv("../datasets/AccesosaInternetfijoporvelocidadbajadayprovincia_2791741672768752249.csv")
df3 = pd.read_csv("../datasets/AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171672768712013.csv")
df4 = pd.read_csv("../datasets/ConectividadalserviciodeInternet_2776151672768694385.csv")
df5 = pd.read_csv("../datasets/Internet_Accesos-por-tecnologia.csv")
df6 = pd.read_csv("../datasets/Internet_Accesos-por-velocidad.csv")
df7 = pd.read_csv("../datasets/Internet_BAF.csv")
df8 = pd.read_csv("../datasets/Internet_Ingresos.csv")
df9 = pd.read_csv("../datasets/Internet_Penetracion.csv", decimal=",")
df10 = pd.read_csv("../datasets/Listadodelocalidadesconconectividadainternet_2750221672768681146.csv")
df11 = pd.read_csv("../datasets/historico_velocidad_internet.csv")

Observación de los datos, análisis de sus filas y columnas, de los tipos de datos, de valores faltantes.

In [3]:
df1

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4.704,- 0,2,- 0,975,- 0,664,7.218,NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,1.282,NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,El Cadillal,90105070,- 0,- 0,- 0,- 0,- 0,1,- 0,- 0,1,NaN
3133,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3134,TUCUMAN,Trancas,Villa de Trancas,90112030,169,- 0,- 0,- 0,- 0,- 0,- 0,99,268,NaN
3135,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1.917,- 0,- 0,- 0,1,- 0,- 0,97,2.015,NaN
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,195,- 0,14.760,33,- 0,- 0,- 0,15.117,NaN

In [4]:
df2

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022,2,Buenos Aires,"65,849",19,- 0,- 0,"30,428",192,"4,611",...,"3,163",- 0,"104,021",- 0,2,216,- 0,1,- 0,- 0
1,2022,2,Capital Federal,"105,607",31,- 0,- 0,451,35,"1,307",...,3,- 0,"32,185",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,2,Catamarca,"2,207",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,2,Chaco,"3,708",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,2,Chubut,"20,021",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,2017,4,Santa Cruz,- 0,- 0,- 0,- 0,68,- 0,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
452,2017,4,Santa Fe,"14,119",- 0,- 0,- 0,"3,109",- 0,"7,637",...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
453,2017,4,Santiago Del Estero,- 0,- 0,- 0,- 0,41,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
454,2017,4,Tierra Del Fuego,- 0,- 0,- 0,- 0,6,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
455,2017,4,Tucumán,- 0,- 0,- 0,- 0,105,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [5]:
df3

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,75 Mbps,78 Mbps,80 Mbps,82 Mbps,83 Mbps,85 Mbps,90 Mbps,92 Mbps,95 Mbps,100 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3086,TUCUMAN,Tafí Viejo,Tafí Viejo,90105080,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1924.0
3087,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3088,TUCUMAN,Trancas,Villa de Trancas,90112030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3089,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3090,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6207.0

In [6]:
df4

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),864,--,--,--,--,--,SI,--,SI,SI,38014050.0,-24.473571,-65.074393
4308,JUJUY,El Carmen,Loteo San Vicente,211,--,--,--,--,--,--,--,--,SI,38014055.0,-24.429325,-65.184397
4309,JUJUY,El Carmen,Manantiales,326,--,--,--,--,SI,--,--,SI,SI,38014060.0,-24.505687,-64.975926
4310,JUJUY,El Carmen,Monterrico,11591,--,SI,--,--,SI,SI,SI,SI,SI,38014070.0,-24.438520,-65.162225
4311,JUJUY,El Carmen,Pampa Blanca,2720,SI,SI,--,--,SI,SI,SI,SI,SI,38014080.0,-24.532994,-65.074414

In [7]:
df5

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,2,Buenos Aires,350.652,2.719.613,1.399.043,126.847,71.028,4.667.183
1,2022,2,Capital Federal,145.491,1.232.226,121.506,5.757,31.791,1.536.771
2,2022,2,Catamarca,11.928,9.430,42.087,1.329,2.234,67.008
3,2022,2,Chaco,29.552,61.284,42.194,8.178,2.356,143.564
4,2022,2,Chubut,45.377,69.242,9.574,29.784,8.828,162.805
...,...,...,...,...,...,...,...,...,...
812,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
814,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
815,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
816,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#Se observan valores "raros" en cuanto al año, corroboramos:
df5['Año'].unique()

In [61]:

# 2019 aparece con un asterisco en algunos registros, por lo que lo mejor es acomodarlo.
df5['Año'].replace("\D","",regex=True,inplace=True)

In [62]:
#Se crea un nuevo dataframe para pasarlo a power bi
df5.to_csv('../Datasets/Internet_Accesos-por-tecnologia_nuevo.csv')

In [8]:
df6

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,2,Buenos Aires,30.639,28.323,295.238,307.554,273.954,129.869,3.535.757,65.849,4.667.183
1,2022,2,Capital Federal,517.000,5.980,36.036,72.434,55.372,31.571,1.229.254,105.607,1.536.771
2,2022,2,Catamarca,71.000,413.000,3.678,6.155,7.165,3.393,43.926,2.207,67.008
3,2022,2,Chaco,461.000,1.047,17.603,20.109,8.391,15.974,76.271,3.708,143.564
4,2022,2,Chubut,109.000,1.444,45.804,31.217,34.290,14.526,15.394,20.021,162.805
...,...,...,...,...,...,...,...,...,...,...,...,...
811,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
812,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
813,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
814,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
815,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [9]:
df7

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          2         Buenos Aires        4.660.984   6.199  4.667.183
1    2022          2      Capital Federal        1.534.626   2.145  1.536.771
2    2022          2            Catamarca           67.007       1     67.008
3    2022          2                Chaco          143.559       5    143.564
4    2022          2               Chubut          161.901     904    162.805
..    ...        ...                  ...              ...     ...        ...
811  2014          1           Santa Cruz           26.304     460     26.764
812  2014          1             Santa Fe          506.000     612    506.612
813  2014          1  Santiago Del Estero           37.124       9     37.133
814  2014          1     Tierra Del Fuego           27.272     766     28.038
815  2014          1              Tucumán          129.944      88    130.032

[816 rows x 6 columns]

In [10]:
df8

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          2                60.942.843   Abr-Jun 2022
1   2022          1                56.195.811   Ene-Mar 2022
2   2021          4                45.467.887   Oct-Dic 2021
3   2021          3                42.999.944  Jul-Sept 2021
4   2021          2                38.239.667   Abr-Jun 2021
5   2021          1                36.676.371   Ene-Mar 2021
6   2020          4                33.539.703   Oct-Dic 2020
7   2020          3                31.997.445  Jul-Sept 2020
8   2020          2                32.102.476   Abr-Jun 2020
9   2020          1                29.946.216   Ene-Mar 2020
10  2019          4                24.169.251   Oct-Dic 2019
11  2019          3                21.652.748  Jul-Sept 2019
12  2019          2                20.743.118   Abr-Jun 2019
13  2019          1                20.207.414   Ene-Mar 2019
14  2018          4                16.637.687   Oct-Dic 2018
15  2018          3                15.410.981  Jul-Sept 2018
16  2018          2                14.319.467   Abr-Jun 2018
17  2018          1                13.171.459   Ene-Mar 2018
18  2017          4                11.226.127   Oct-Dic 2017
19  2017          3                10.065.998  Jul-Sept 2017
20  2017          2                 9.678.647   Abr-Jun 2017
21  2017          1                 8.701.201   Ene-Mar 2017
22  2016          4                 7.483.980   Oct-Dic 2016
23  2016          3                 6.912.442  Jul-Sept 2016
24  2016          2                 6.534.241   Abr-Jun 2016
25  2016          1                 5.936.845   Ene-Mar 2016
26  2015          4                 5.376.899   Oct-Dic 2015
27  2015          3                 5.153.739  Jul-Sept 2015
28  2015          2                 4.701.791   Abr-Jun 2015
29  2015          1                 4.876.385   Ene-Mar 2015
30  2014          4                 3.950.441   Oct-Dic 2014
31  2014          3                 3.478.638  Jul-Sept 2014
32  2014          2                 3.270.816   Abr-Jun 2014
33  2014          1                 2.984.054   Ene-Mar 2014

In [11]:
df9

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2022          2         Buenos Aires                         77.58
1    2022          2      Capital Federal                        121.31
2    2022          2            Catamarca                         62.40
3    2022          2                Chaco                         43.79
4    2022          2               Chubut                         83.19
..    ...        ...                  ...                           ...
811  2014          1           Santa Cruz                         28.94
812  2014          1             Santa Fe                         47.85
813  2014          1  Santiago Del Estero                         16.31
814  2014          1     Tierra Del Fuego                         63.97
815  2014          1              Tucumán                         33.42

[816 rows x 4 columns]

In [12]:
df10

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,25 de Mayo,25 de Mayo,SI,SI,--,SI,SI,SI,SI,SI,SI
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,--,--,--,--,--,--,SI,--,--
2,BUENOS AIRES,25 de Mayo,Del Valle,SI,--,--,--,SI,SI,--,--,SI
3,BUENOS AIRES,25 de Mayo,Ernestina,SI,--,--,--,--,--,--,--,--
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,--,--,--,--,--,--,--,SI,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,El Carmen,Los Lapachos (Est. Maquinista Verón),--,--,--,--,SI,SI,--,SI,--
4308,JUJUY,El Carmen,Loteo San Vicente,--,--,--,--,SI,--,--,--,--
4309,JUJUY,El Carmen,Manantiales,--,--,--,--,SI,SI,--,--,SI
4310,JUJUY,El Carmen,Monterrico,--,SI,--,--,SI,SI,SI,SI,SI
4311,JUJUY,El Carmen,Pampa Blanca,SI,SI,--,--,SI,SI,SI,SI,SI

In [13]:
df11

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          2         Buenos Aires                      66
1    2022          2      Capital Federal                      94
2    2022          2            Catamarca                      57
3    2022          2                Chaco                      51
4    2022          2               Chubut                      15
..    ...        ...                  ...                     ...
811  2014          1           Santa Cruz                       3
812  2014          1             Santa Fe                       3
813  2014          1  Santiago Del Estero                       3
814  2014          1     Tierra Del Fuego                       3
815  2014          1              Tucumán                       3

[816 rows x 4 columns]

In [14]:
print(df1.isna().sum())
print(df1.shape)

Provincia           0
Partido             0
Localidad           0
Link Indec          0
ADSL                0
CABLEMODEM          0
DIAL UP             0
FIBRA OPTICA        0
OTROS               0
SATELITAL           0
WIMAX               0
WIRELESS            0
Total general       0
Unnamed: 13      3137
dtype: int64
(3137, 14)

In [15]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.2+ KB
None

In [16]:
print(df2.isna().sum())
print(df2.shape)

Año           0
Trimestre     0
Provincia     0
Otros         0
0,256 Mbps    0
             ..
80 Mbps       0
81 Mbps       0
83 Mbps       0
82 Mbps       0
86 Mbps       0
Length: 97, dtype: int64
(456, 97)

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         456 non-null    int64
 1   Trimestre   456 non-null    int64
 2   Provincia   456 non-null    object
 3   Otros       456 non-null    object
 4   0,256 Mbps  456 non-null    object
 5   0,375 Mbps  456 non-null    object
 6   0,625 Mbps  456 non-null    object
 7   0,5 Mbps    456 non-null    object
 8   0,512 Mbps  456 non-null    object
 9   0,75 Mbps   456 non-null    object
 10  1 Mbps      456 non-null    object
 11  1,2 Mbps    456 non-null    object
 12  1,25 Mbps   456 non-null    object
 13  1,5 Mbps    456 non-null    object
 14  2 Mbps      456 non-null    object
 15  2,2 Mbps    456 non-null    object
 16  2,5 Mbps    456 non-null    object
 17  6,7 Mbps    456 non-null    object
 18  3 Mbps      456 non-null    object
 19  3,2 Mbps    456 non-null    object
 20  3,3 Mbps    456 non-null    object
 21  3,5 Mbps    456 non-null    object
 22  4 Mbps      456 non-null    object
 23  4,5 Mbps    456 non-null    object
 24  5 Mbps      456 non-null    object
 25  6 Mbps      456 non-null    object
 26  6,4 Mbps    456 non-null    object
 27  7 Mbps      456 non-null    object
 28  7,5 Mbps    456 non-null    object
 29  8 Mbps      456 non-null    object
 30  9 Mbps      456 non-null    object
 31  10 Mbps     456 non-null    object
 32  10,6 Mbps   456 non-null    object
 33  11 Mbps     456 non-null    object
 34  12 Mbps     456 non-null    object
 35  13 Mbps     456 non-null    object
 36  14 Mbps     456 non-null    object
 37  15 Mbps     456 non-null    object
 38  16 Mbps     456 non-null    object
 39  17 Mbps     456 non-null    object
 40  18 Mbps     456 non-null    object
 41  19 Mbps     456 non-null    object
 42  20 Mbps     456 non-null    object
 43  21 Mbps     456 non-null    object
 44  22 Mbps     456 non-null    object
 45  23 Mbps     456 non-null    object
 46  24 Mbps     456 non-null    object
 47  25 Mbps     456 non-null    object
 48  25,1 Mbps   456 non-null    object
 49  25,11 Mbps  456 non-null    object
 50  25,5 Mbps   456 non-null    object
 51  26 Mbps     456 non-null    object
 52  28 Mbps     456 non-null    object
 53  29 Mbps     456 non-null    object
 54  30 Mbps     456 non-null    object
 55  31 Mbps     456 non-null    object
 56  32 Mbps     456 non-null    object
 57  34 Mbps     456 non-null    object
 58  35 Mbps     456 non-null    object
 59  36 Mbps     456 non-null    object
 60  37 Mbps     456 non-null    object
 61  38 Mbps     456 non-null    object
 62  39 Mbps     456 non-null    object
 63  40 Mbps     456 non-null    object
 64  41 Mbps     456 non-null    object
 65  45 Mbps     456 non-null    object
 66  46 Mbps     456 non-null    object
 67  47 Mbps     456 non-null    object
 68  48 Mbps     456 non-null    object
 69  49 Mbps     456 non-null    object
 70  50 Mbps     456 non-null    object
 71  51 Mbps     456 non-null    object
 72  52 Mbps     456 non-null    object
 73  54 Mbps     456 non-null    object
 74  55 Mbps     456 non-null    object
 75  56 Mbps     456 non-null    object
 76  58 Mbps     456 non-null    object
 77  59 Mbps     456 non-null    object
 78  60 Mbps     456 non-null    object
 79  61 Mbps     456 non-null    object
 80  62 Mbps     456 non-null    object
 81  63 Mbps     456 non-null    object
 82  64 Mbps     456 non-null    object
 83  65 Mbps     456 non-null    object
 84  66 Mbps     456 non-null    object
 85  67 Mbps     456 non-null    object
 86  68 Mbps     456 non-null    object
 87  70 Mbps     456 non-null    object
 88  71 Mbps     456 non-null    object
 89  75 Mbps     456 non-null    object
 90  77 Mbps     456 non-null    object
 91  78 Mbps     456 non-null    object
 92  80 Mbps     456 non-null    object
 93  81 Mbps     456 non-null    object
 94  83 Mbps     456 non-null    object
 95  82 Mbps     456 non-null    object
 96  86 Mbps     456 non-null    object
dtypes: int64(2), object(95)
memory usage: 345.7+ KB

In [18]:
print(df3.isna().sum())
print(df3.shape)

Provincia        0
Partido          0
Localidad        0
Link Indec       0
Otros         2143
              ...
85 Mbps       3090
90 Mbps       3089
92 Mbps       3089
95 Mbps       3090
100 Mbps      2544
Length: 83, dtype: int64
(3091, 83)

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3091 entries, 0 to 3090
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3091 non-null   object
 1   Partido     3091 non-null   object
 2   Localidad   3091 non-null   object
 3   Link Indec  3091 non-null   object
 4   Otros       948 non-null    float64
 5   0,256 Mbps  29 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  524 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      932 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    16 non-null     float64
 14  2 Mbps      743 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    3 non-null      float64
 17  3 Mbps      1388 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      538 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1012 non-null   float64
 23  6 Mbps      1436 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      222 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      616 non-null    float64
 28  9 Mbps      53 non-null     float64
 29  10 Mbps     1684 non-null   float64
 30  11 Mbps     27 non-null     float64
 31  12 Mbps     525 non-null    float64
 32  13 Mbps     15 non-null     float64
 33  14 Mbps     20 non-null     float64
 34  15 Mbps     1019 non-null   float64
 35  16 Mbps     18 non-null     float64
 36  17 Mbps     1 non-null      float64
 37  18 Mbps     241 non-null    float64
 38  19 Mbps     1 non-null      float64
 39  20 Mbps     973 non-null    float64
 40  21 Mbps     4 non-null      float64
 41  22 Mbps     1 non-null      float64
 42  23 Mbps     2 non-null      float64
 43  24 Mbps     13 non-null     float64
 44  25 Mbps     582 non-null    float64
 45  25,1 Mbps   1 non-null      float64
 46  25,11 Mbps  1 non-null      float64
 47  25,5 Mbps   1 non-null      float64
 48  26 Mbps     2 non-null      float64
 49  30 Mbps     693 non-null    float64
 50  31 Mbps     4 non-null      float64
 51  32 Mbps     2 non-null      float64
 52  34 Mbps     1 non-null      float64
 53  35 Mbps     12 non-null     float64
 54  36 Mbps     2 non-null      float64
 55  38 Mbps     1 non-null      float64
 56  39 Mbps     1 non-null      float64
 57  40 Mbps     92 non-null     float64
 58  41 Mbps     1 non-null      float64
 59  45 Mbps     3 non-null      float64
 60  46 Mbps     1 non-null      float64
 61  49 Mbps     1 non-null      float64
 62  50 Mbps     639 non-null    float64
 63  55 Mbps     4 non-null      float64
 64  58 Mbps     1 non-null      float64
 65  59 Mbps     1 non-null      float64
 66  60 Mbps     255 non-null    float64
 67  61 Mbps     3 non-null      float64
 68  62 Mbps     1 non-null      float64
 69  64 Mbps     1 non-null      float64
 70  65 Mbps     2 non-null      float64
 71  66 Mbps     1 non-null      float64
 72  70 Mbps     10 non-null     float64
 73  75 Mbps     226 non-null    float64
 74  78 Mbps     1 non-null      float64
 75  80 Mbps     12 non-null     float64
 76  82 Mbps     1 non-null      float64
 77  83 Mbps     1 non-null      float64
 78  85 Mbps     1 non-null      float64
 79  90 Mbps     2 non-null      float64
 80  92 Mbps     2 non-null      float64
 81  95 Mbps     1 non-null      float64
 82  100 Mbps    547 non-null    float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [20]:
print(df4.isna().sum())
print(df4.shape)

Provincia          0
Partido            0
Localidad          0
Poblacion          0
ADSL               0
CABLEMODEM         0
DIALUP             0
FIBRAOPTICA        0
SATELITAL          0
WIRELESS           0
TELEFONIAFIJA      0
3G                 0
4G                 0
link             476
Latitud            0
Longitud           0
dtype: int64
(4312, 16)

In [21]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           3836 non-null   float64
 14  Latitud        4312 non-null   float64
 15  Longitud       4312 non-null   float64
dtypes: float64(3), int64(1), object(12)
memory usage: 539.1+ KB

In [22]:
print(df5.isna().sum())
print(df5.shape)

Año             0
Trimestre       0
Provincia       1
ADSL            1
Cablemodem      1
Fibra óptica    1
Wireless        1
Otros           1
Total           1
dtype: int64
(817, 9)

In [23]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817 entries, 0 to 816
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           817 non-null    object
 1   Trimestre     817 non-null    object
 2   Provincia     816 non-null    object
 3   ADSL          816 non-null    object
 4   Cablemodem    816 non-null    object
 5   Fibra óptica  816 non-null    object
 6   Wireless      816 non-null    float64
 7   Otros         816 non-null    float64
 8   Total         816 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.6+ KB

In [24]:
print(df6.isna().sum())
print(df6.shape)

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64
(816, 12)

In [25]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  816 non-null    int64
 1   Trimestre            816 non-null    int64
 2   Provincia            816 non-null    object
 3   HASTA 512 kbps       816 non-null    float64
 4   + 512 Kbps - 1 Mbps  816 non-null    float64
 5   + 1 Mbps - 6 Mbps    816 non-null    object
 6   + 6 Mbps - 10 Mbps   816 non-null    float64
 7   + 10 Mbps - 20 Mbps  816 non-null    float64
 8   + 20 Mbps - 30 Mbps  816 non-null    float64
 9   + 30 Mbps            816 non-null    object
 10  OTROS                810 non-null    float64
 11  Total                816 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 76.6+ KB

In [26]:
print(df7.isna().sum())
print(df7.shape)

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
Total               0
dtype: int64
(816, 6)

In [27]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               816 non-null    int64
 1   Trimestre         816 non-null    int64
 2   Provincia         816 non-null    object
 3   Banda ancha fija  816 non-null    object
 4   Dial up           814 non-null    object
 5   Total             816 non-null    object
dtypes: int64(2), object(4)
memory usage: 38.4+ KB

In [28]:
print(df8.isna().sum())
print(df8.shape)

Año                          0
Trimestre                    0
Ingresos (miles de pesos)    0
Periodo                      0
dtype: int64
(34, 4)

In [29]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [30]:
print(df9.isna().sum())
print(df9.shape)

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64
(816, 4)

In [31]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           816 non-null    int64
 1   Trimestre                     816 non-null    int64
 2   Provincia                     816 non-null    object
 3   Accesos por cada 100 hogares  816 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 25.6+ KB

In [32]:
print(df10.isna().sum())
print(df10.shape)

Provincia        0
Partido          0
Localidad        0
ADSL             0
CABLEMODEM       0
DIALUP           0
FIBRAOPTICA      0
4G               0
3G               0
TELEFONIAFIJA    0
WIRELESS         0
SATELITAL        0
dtype: int64
(4312, 12)

In [33]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [34]:
print(df11.isna().sum())
print(df11.shape)

Año                       0
Trimestre                 0
Provincia                 0
Mbps (Media de bajada)    0
dtype: int64
(816, 4)

In [35]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     816 non-null    int64
 1   Trimestre               816 non-null    int64
 2   Provincia               816 non-null    object
 3   Mbps (Media de bajada)  816 non-null    int64
dtypes: int64(3), object(1)
memory usage: 25.6+ KB